doctype html
html(lang='en')
  head
    //- title LD Connect - IOS Press
    title KnowWhereGraph
    link(rel='stylesheet', type='text/css', href='/static/css/style.css')
    link(rel="stylesheet", type='text/css', href='/static/css/general.css')
    link(rel='stylesheet', type='text/css', href='/static/style/explore.css')
    link(rel='stylesheet', type='text/css', href='/static/resource/leaflet.css')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=PT+Sans:400,700%7CPT+Serif:400,700')
    link(rel='stylesheet prefetch', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    //- changed common to general (Rui) - /css/common.css controls the header dropdown menus
    //-link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/static/style/explore_header.css')
    script(src='/static/script/explore.js')

  body
    .body-content
      header#header.header.block
          a(href="https://knowwheregraph.org/")
            img.logo(class="header-logo" src='/static/images/logo-kwg.svg')
          #menu.header-menu.clearfix.menu(style='padding: 18px 0;')
            ul.nav.navbar-nav.navbar-right
              li 
                a(href="https://www.knowwheregraph.org/graph/") The Graph
              li
                a(href="https://www.knowwheregraph.org/tools/") Tools
              li
                a(href="https://www.knowwheregraph.org/pilots/") Pilots
              li
                a(href="https://www.knowwheregraph.org/people/") People
              li
                a(href="https://www.knowwheregraph.org/publications/") Publications
              li
                a(href="https://www.knowwheregraph.org/about/") About
              li
                a(href="https://www.knowwheregraph.org/contact/") Contact
      #title
        a(href='http://phuzzy.link/') phuzzy.link
      #controls
        div.configs
          div.sparql
            div.endpoint
              div.title
                span.text SPARQL endpoint URL:
              div.input
                input(type='text').url
            div.prefixes
              div.title
                span.text Prefix JSON-LD context:
              div.input
                input(type='text').url
          div.settings
            div.title
              span.text Settings:
          div.plugins
            div.title
              span.text Plugins:
        div.status
          div.error
          div.overview
            div.outgoing
              span.title Outgoing properties
              span.text Waiting for initialization...
            div.incoming
              span.title Incoming properties
              span.text Waiting for initialization...
      #layout
        section#triples
          .outgoing
            .browse-header
              a.fa.fa-external-link(target='_blank', title='open resource in new tab', href='#')
              span.text
              span.source
                span.access(style="display:none;")
                  span.text RDF source
                  span.icon.fa.fa-code
            #machine.hide
              div#rdf-format
                div.graphy
                  div.title Generate from SELECT results
                  div.formats
                    div.format(data-mime-format='text/turtle') text/turtle
                    div.format(data-mime-format='application/trig') application/trig
                    div.format(data-mime-format='application/n-triples') application/n-triples
                    div.format(data-mime-format='application/n-quads') application/n-quads
                div.dereference
                  div.title Dereference URI
                  div.formats
                    div.format(data-mime-format='text/turtle') text/turtle
                    //- div.format(data-mime-format='application/trig') application/trig
                    div.format(data-mime-format='application/n-triples') application/n-triples
                    //- div.format(data-mime-format='application/n-quads') application/n-quads
                    div.format(data-mime-format='application/ld+json') application/ld+json
                    div.format(data-mime-format='application/rdf+xml') application/rdf+xml
                    div.append
                      span.add.fa.fa-plus-square-o
                      input(type='text', placeholder='text/n3')
              div#rdf-display
                div#rdf-editor
                div.page
                div.curtain
                  div.loading
                    span.fa.fa-spin.fa-3x.fa-link
            #abstract
            .body
              .table
          .incoming
            .header
              span.text Incoming Triples
            .body.incoming
              .table
      .bottom
        .stay-informed
          .container
            form#stay-informed-form(method='post' name='stayInformedForm')
              .row
                .col-sm-5
                  h4 Stay Informed about KnowWhereGraph
                #stay_informed_captcha_container
                .col-sm-5
                  input#stayInformedEmail(type='text' placeholder='Email' required='')
                .col-sm-2
                  input#stayInformedBtn.btn.btn-primary(type='submit' value='Submit')
    footer
      img(src="/static/images/kwg-icon.png", class="kwg-icon-footer")